---
import Logo from "@/graphics/waf.svg";
import type { ShowcaseLink } from "@/types/article";

type Props = {
  next: ShowcaseLink;
  previous: ShowcaseLink;
};

const { next, previous } = Astro.props;
// const previousLabel =
//   previous.showcaseNumber === previous.showcaseTotal ? "Last" : "Previous";
// const nextLabel = next.showcaseNumber === 1 ? "First" : "Next";
const previousLabel = "Showcase";
const nextLabel = previousLabel;
---

<footer id="next-showcase" class="article-footer">
  <a
    class="article-footer__previous"
    href={previous.href}
    aria-label={`${previousLabel} case study: ${previous.brand}`}
  >
    <span class="article-footer__kicker">
      <span>{previousLabel}</span>
      <span>{`${previous.showcaseNumber} / ${previous.showcaseTotal}`}</span>
    </span>
    <span class="article-footer__title-row">
      <strong class="article-footer__brand">{previous.brand}</strong>
      <span class="article-footer__title">
        <Logo class="article-footer__previous-icon" aria-hidden="true" />
        {previous.title}
      </span>
    </span>
  </a>
  <a
    class="article-footer__next"
    href={next.href}
    aria-label={`${nextLabel} case study: ${next.brand}`}
  >
    <span class="article-footer__kicker">
      <span>{`${next.showcaseNumber} / ${next.showcaseTotal}`}</span>
      <span>{nextLabel}</span>
    </span>
    <span class="article-footer__title-row">
      <strong class="article-footer__brand">{next.brand}</strong>
      <span class="article-footer__title">
        {next.title}
        <Logo class="article-footer__next-icon" aria-hidden="true" />
      </span>
    </span>
  </a>
  <nav class="article-footer__links" aria-label="Contact links">
    <a href="/resume.pdf">resume.pdf</a>
    <a href="https://www.linkedin.com/in/firasrazak/">@firasrazak</a>
    <a href="mailto:hi@firas.works">hi@firas.works</a>
  </nav>
</footer>

<style>
  .article-footer {
    --footer-icon-offset: calc(var(--px) / 4);

    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) auto;
    row-gap: var(--py);
    column-gap: 0.5rem;
    width: 100%;
    min-height: 100svh;
    padding: calc(var(--py) * 4) var(--px) var(--py);
    scroll-margin-top: 5rem;
    color: var(--read-higher);

    @media (min-width: 64rem) {
      --footer-icon-offset: calc(var(--px) / 6);

      grid-template-columns: repeat(3, minmax(0, 1fr));
      row-gap: var(--py);
      column-gap: 1.5rem;
      padding: calc(var(--py) * 2) var(--px) var(--py);
      align-items: end;
    }
  }

  .article-footer__previous {
    grid-column: 1;
    align-self: stretch;
    display: grid;
    grid-template-rows: 7em 1fr;
    justify-items: start;
    color: var(--read-default);
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;

    @media (min-width: 64rem) {
      font-size: clamp(1.5rem, 2.5vw, 3rem);
    }
  }

  .article-footer__next {
    align-self: stretch;
    grid-column: 2;
    display: grid;
    grid-template-rows: 7em 1fr;
    justify-items: end;
    color: var(--read-default);
    font-size: 1rem;
    line-height: 1.5;
    text-align: right;

    @media (min-width: 64rem) {
      grid-column: 3;
      font-size: clamp(1.5rem, 2.5vw, 3rem);
    }
  }

  .article-footer__next .article-footer__kicker {
    writing-mode: sideways-lr;
  }

  .article-footer__kicker {
    display: inline-flex;
    gap: 0.25rem;
    justify-content: space-between;
    writing-mode: vertical-lr;
    color: var(--read-lowest);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1em;

    @media (min-width: 64rem) {
      font-size: 0.6em;
    }
  }

  .article-footer__brand {
    color: var(--read-low);
    font-size: 0.75rem;
    font-weight: 400;

    @media (min-width: 64rem) {
      font-size: 0.8em;
    }
  }

  .article-footer__title-row {
    align-self: center;
    display: grid;
    gap: 0.5rem;
    align-items: start;
  }

  .article-footer__previous-icon {
    position: absolute;
    inset-inline-start: calc(-2.5 * var(--footer-icon-offset));
    color: var(--read-higher);
    width: 0.625rem;
    height: auto;
    transform: translateY(50%) rotate(-45deg);

    @media (min-width: 64rem) {
      width: 1rem;
    }
  }

  .article-footer__title {
    display: block;
    max-width: 60ch;
    font-size: inherit;
    line-height: 1;
    position: relative;
  }

  .article-footer__next-icon {
    position: absolute;
    inset-inline-start: calc(100% + var(--footer-icon-offset));
    color: var(--read-higher);
    width: 0.625rem;
    height: auto;
    transform: translateY(-100%) rotate(135deg);

    @media (min-width: 64rem) {
      width: 1rem;
    }
  }

  .article-footer__links {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    color: var(--read-higher);
    font-size: 0.75rem;

    @media (min-width: 64rem) {
      grid-column: 1 / -1;
      font-size: 1.25rem;
    }
  }

  .article-footer__previous .article-footer__title {
    text-align: left;
  }

  .article-footer__next .article-footer__title {
    justify-self: end;
    text-align: right;
  }

  .article-footer__previous .article-footer__title-row {
    @media (min-width: 64rem) {
      margin-inline-start: -1.25rem;
      padding-inline-start: 1.25rem;
    }
  }

  .article-footer__next .article-footer__title-row {
    @media (min-width: 64rem) {
      margin-inline-end: -1.25rem;
      padding-inline-end: 1.25rem;
    }
  }
</style>
